body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol {
  margin: 0;
}
body {
  font-size: 0.86666667rem;
  font-family: "微软雅黑";
  color: #738797;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
  border: none;
}
